<!--
    Date: 2016/02/25
    Author: D'Arcey Taylor
    File: Midterm
    Website: http://comp2068-midterm.azurewebsites.net
    Reason: links to javascripts and closes out page
-->
    <!-- JavaScript -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
    </body>
</html>