<!--
    Date: 2016/02/25
    Author: D'Arcey Taylor
    File: Midterm
    Website: http://comp2068-midterm.azurewebsites.net
    Reason: supposed to contact the owner but now just links to the main page
-->
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

    <!--Main Content-->
    <main class="container">

        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
        </p>

        <form action="/">
            <div class="row">
                <div class="6u 12u$(mobile)">
                    <input type="text" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(mobile)">
                    <input type="email" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea placeholder="Message"></textarea>
                </div>
                <div class="12u$">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>
    </main>

    <% include partials/footer.ejs %>