<!--
    Date: 2016/02/25
    Author: D'Arcey Taylor
    File: Midterm
    Website: http://comp2068-midterm.azurewebsites.net
    Reason: assembles all the partials and builds the page
-->
<% include partials/header.ejs %>
<% include partials/navigation.ejs %>
    <!--Main Content-->
      <main class="container">
    
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
          <a href="#" class="image featured"><img src="../Assets/cwshows.jpg" alt="Main actors for my favourtie tv shows." /></a>
 
      </main>
  
<% include partials/footer.ejs %>